<% if @menu_category.empty? %>
   <div class="Display-message">
      <%= image_tag "empty-page.png", alt: "No Items Found" %>
      <h1 class="Message-text">No categories found</h1>
      <%= link_to "Add Category",
            menu_categories_path,
            { :remote => true,
            "data-toggle" => "modal",
            "data-target" => "#exampleModal",
            class: "Item-new-category" } %>
   </div>
<% else %>
<div class="Main-container">
    <ul class="MenuCategory-navbar">
        <h2 class="Item-category-title"> Menu categories </h2>
        <% @menu_category.each do |category| %>
            <li class="Item-category-item">
              <%= link_to category.name, "/menuitem_view/#{category.id}", class: "Item-category-name"%>
            </li>
        <% end %>
    </ul>
    <% if @menu_items.empty? %>
        <div class="Item-path">
           <%= image_tag "empty-page.png", alt: "No Items Found" %>
           <h1 class="Message-text">No Items found</h1>
        </div>
    <% else %>
        <ul class="Item-menuCategory-body">
            <% @menu_items.each do |item| %>
                <li class="MenuCategory-item MenuItem-item">
                  <div class="MenuCategory-left">
                      <p class= <%= item.status == "Active" ? "MenuCategory-status-active" : "MenuCategory-status-inactive" %>> <%= item.status %> </p>
                      <p class="MenuCategory-name"> <%= item.name %> </p>
                  </div>
                  <div class="MenuCategory-right">
                      <%= form_with(url: "/update_menuitem_view/#{item.id}", method: "get") do %>
                           <%= image_submit_tag("pencil.png",
                                                 class: "MenuCategory-updateIcon",
                                                 alt: "Pencil Icon",
                                                 title: "Edit #{item.name}" ) %>
                      <% end %>
                      <%= form_with(url: "/menu_items/#{item.id}", method: "delete") do %>
                           <%= image_submit_tag("trash-can.png",
                                                 class: "MenuCategory-deleteIcon",
                                                 alt: "Trash Can",
                                                 title: "Delete #{item.name}") %>
                      <% end %>
                  </div>
                </li>
            <% end %>
        </ul>
    <% end %>
<div>
<% end %>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with(url: "/create_menu_category", method: "post")%>
      <div class="modal-body">
        <%= text_field_tag "category_name",
                            nil,
                            class: "Add-category-text",
                            placeholder: "Category name",
                            autofocus: true,
                            required: true %>
        <%= submit_tag "Add", class: "Add-btn" %>
      </div>
    </div>
  </div>
</div>
