<% if flash[:error] %>
  <p class = "Flash-error">
      <%= flash[:error] %>
  </p>
<% end %>
<% if @current_user && @current_user.role == "owner" %>
   <%= link_to "<< Previous", admin_index_path, method: "get" ,class: "Previous" %>
   <section class = "SignIn-container Owner-previous">
<% else %>
   <section class = "SignIn-container">
<% end %>
  <div class = "SignIn-container-content">
      <%= form_with(url: users_path) do |form| %>
          <div class = "Form-section">
              <%= form.text_field :name,
                                  class:"Form-input",
                                  placeholder:"Name",
                                  autofocus: true,
                                  pattern: ".{3,}",
                                  title: "Name should have atleast 3 characters",
                                  required: true %>
          </div>
          <div class = "Form-section">
              <%= form.text_field :phone_no,
                                  class:"Form-input",
                                  placeholder:"Phone number",
                                  pattern: "[0-9]{10}",
                                  title: "Phone number should be 10 digit",
                                  required: true %>
          </div>
          <div class = "Form-section">
              <%= form.email_field :email,
                                   class:"Form-input",
                                   placeholder: "Email address",
                                   required: true %>
          </div>
          <div class = "Form-section">
              <%= form.password_field :password,
                                      class:"Form-input",
                                      placeholder:"Password",
                                      pattern: ".{7,}",
                                      title: "Please lengthen your password to 7 or more characters",
                                      required: true %>
          </div>
          <% if @current_user && @current_user.role == "owner" %>
             <div class="Owner-role-signup" >
                <h3 class="MenuCategory-status-title">Role: </h3>
                <div class="Status-container">
                    <%= radio_button_tag "role", "owner" %>
                    <p class="Status-label"> Owner </p>
                </div>
                <div class="Status-container">
                    <%= radio_button_tag "role", "clerk", true %>
                    <p class="Status-label"> Clerk </p>
                </div>
             </div>
          <% else %>
             <%= hidden_field_tag 'role', 'customer' %>
          <% end %>
          <div class = "Form-section">
              <%= form.submit "Sign-up!", class:"Form-submit"  %>
          </div>
      <% end %>
      <% unless @current_user && @current_user.role == "owner" %>
        <hr class="Bottom-line">
        <div class="ExistingUser">
            <p class="ExistingUser-text">Already existing user?  </p>
            <%= link_to "Sign In", root_path, class: "ExistingUser-link", title: "Log In" %>
        </div>
      <% end %>
  </div>
</section>
