<% if @current_user.role == "customer" %>
   <%= link_to "<< Previous", users_menu_path(id: 0), method: "get" ,class: "Previous" %>
<% else %>
   <%= link_to "<< Previous", admin_index_path, method: "get" ,class: "Previous" %>
<% end %>
<% if flash[:error] %>
  <p class = "Flash-error">
      <%= flash[:error] %>
  </p>
<% end %>
<section class = "SignIn-container Owner-previous">
  <div class = "SignIn-container-content">
      <%= form_with(url: update_user_path, method: "patch") do |form| %>
          <div class = "Form-section">
              <%= form.text_field :name,
                                  value: @current_user.name,
                                  class:"Form-input",
                                  placeholder:"Name",
                                  autofocus: true,
                                  pattern: ".{3,}",
                                  title: "Name should have atleast 3 characters",
                                  required: true %>
          </div>
          <div class = "Form-section">
              <%= form.text_field :phone_no,
                                  value: @current_user.phone_no,
                                  class:"Form-input",
                                  placeholder:"Phone number",
                                  pattern: "[0-9]{10}",
                                  title: "Phone number should be 10 digit",
                                  required: true %>
          </div>
          <div class = "Form-section">
              <%= form.email_field :email,
                                   value: @current_user.email,
                                   class:"Form-input",
                                   placeholder: "Email address",
                                   required: true %>
          </div>
          <div class = "Form-section">
              <%= form.submit "Update", class:"Form-submit"  %>
          </div>
      <% end %>
  </div>
</section>
