<% if @menu_category.empty? %>
    <div class="Display-message">
        <%= image_tag "empty-page.png", alt: "No Items Found" %>
        <h1 class="Message-text">No categories found</h1>
    </div>
<% else %>
    <div class="Main-container">
        <ul class="MenuCategory-navbar">
            <h2 class="Item-category-title"> Menu categories </h2>
            <% @menu_category.each do |category| %>
                <li class="Item-category-item">
                  <% if (category.status == "Active") %>
                    <%= link_to category.name, "/user/menu/#{category.id}", class: "Item-category-name" %>
                  <% else %>
                    <%= link_to category.name, "javascript:void(0)", class: "Inactive-category", disable: true, title: "Not available" %>
                  <% end %>
                </li>
            <% end %>
        </ul>
        <% if @menu_items.empty? %>
            <div class="User-menu">
              <%= image_tag "empty-page.png", alt: "No Items Found" %>
              <h1 class="Message-text">No Items found</h1>
            </div>
        <% else %>
            <ul class="Item-menuCategory-body-customer">
            <h1 class="MenuItem-head"> <%= @category.name %> </h1>
                <% @menu_items.each do |item| %>
                    <li class="card" style="width: 100%;">
                      <div class="card-body">
                        <div class = "card-body-left">
                            <h5 class="card-title"> <%= item.name %> </h5>
                            <p class="card-text"> &#36; <%= item.price %> </p>
                        </div>
                        <div class = "card-body-right">
                            <% if (item.status == "Active") %>
                              <%= link_to "Add to cart", cart_items_path(id: item.id), method: "post", class: "card-link" %>
                            <% else %>
                              <a class="card-unavailable-link", href="javascript:void(0)" disabled> Unavailable </a>
                            <% end %>
                        </div>
                      </div>
                    </li>
                <% end %>
            </ul>
        <% end %>
        <div class = "Cart">
          <% if (@cart_items.empty?) %>
            <div class="Empty-cart">
              <%= image_tag "empty-cart.png", alt: "Empty cart", class: "Empty-cart-image" %>
              <h1 class="Empty-cart-text">YOUR CART IS EMPTY</h1>
            </div>
          <% else %>
            <div class="Cart-head">
              <h1 class="Cart-heading-text"> Cart </h1>
              <%= link_to "Clear cart", destroy_all_items_path, method: "delete", class: "Clear-cart", data: { confirm: 'Are you sure want to clear cart ?' }  %>
            </div>
            <ul class="Cart-body">
              <% @cart_items.each do |cart_item| %>
                <li class="Cart-item">
                    <div class="Cart-up-down">
                      <h1 class="Cart-item-name"> <%= cart_item.menu_item_name %> </h1>
                      <%= form_with(url: "/cart_items/#{cart_item.id}", method: "delete") do %>
                         <%= image_submit_tag("trash-can.png",
                                              class: "MenuCategory-deleteIcon",
                                              alt: "Trash Can") %>
                     <% end %>
                    </div>
                    <div class="Cart-up-down">
                      <h3 class="Cart-item-price"> &#36; <%= (cart_item.quantity * cart_item.menu_item_price).round(2) %> </h3>
                      <div class="Quantity">
                          <%= link_to "-", reduct_quantity_path(id: cart_item.id), class: "Quantity-change", method: "put" %>
                          <h3 class="Quantity-text"> <%= cart_item.quantity %> </h3>
                          <%= link_to "+", add_quantity_path(id: cart_item.id), class: "Quantity-change", method: "put" %>
                      </div>
                    </div>
                </li>
              <% end %>
              <div class="Total-amount">
                <h2 class="Total-amount-checkout">BILL TOTAL : </h2>
                <h3 class="Total-amount-checkout"> &#36; <%= Cart.tot_amount(@cart.id) %>
              </div>
            </ul>
            <div class="Cart-footer">
              <%= link_to "Checkout", checkout_path, method: "get", class: "Order-btn" %>
            </div>
        <% end %>
      </div>
    </div>
<% end %>
