<% if(params[:path] == "invoices") %>
    <%= link_to "<< Previous", invoices_path ,class: "Previous" %>
<% elsif(params[:path] == "customer_report") %>
    <%= link_to "<< Previous", customer_report_path(id: params[:which_user_id]) ,class: "Previous" %>
<% else %>
   <%= link_to "<< Previous", customer_orders_path ,class: "Previous" %>
<% end %>
<div class="View-order-container">
  <div class="View-order-top">
    <div class="View-order-top-firstChild">
       <div class="Order">
          <h2 class="Order-id"> ORDER-ID : </h2>
          <h3 class="Order-id-text"> <%= @order_detail.id %> </h3>
       </div>
       <div class="Status-view">
          <p class="Status-view-order"> Status : </p>
          <% if @order_detail.archived_by == "customer" %>
              <p class="Cancelled-order-text"> Cancelled </p>
          <% elsif @order_detail.archived_by == "owner" || @order_detail.archived_by == "clerk" %>
              <p class="Cancelled-order-text"> Cancelled by shop </p>
          <% elsif @order_detail.delivered_at.nil? %>
              <p class="Pending-order-text"> Pending </p>
          <% else %>
              <p class="Delivered-order"> Delivered </p>
          <% end %>
       </div>
    </div>
    <% unless @order_detail.address == "walk-in-customer"%>
      <div class="Address-view">
        <h5 class="Address-view-order">Address : </h5>
        <h6 class="Address-view-order-location"> <%= @order_detail.address %> </h6>
      </div>
    <% end %>
  </div>

  <div class="table-responsive">
    <table class="table table-hover table-bordered">
      <thead class = "table-head Invoice-head">
        <tr>
          <th scope="col">ITEM</th>
          <th scope="col">QUANTITY</th>
          <th scope="col">PRICE</th>
        </tr>
      </thead>
       <tbody class = "table-body">
        <% @order_detail.order_items.each do |order_item| %>
            <tr>
              <th scope="row"> <%= order_item.menu_item_name %> </th>
              <th scope="row"> <%= order_item.quantity %> </th>
              <th scope="row"> &#36; <%= (order_item.quantity * order_item.menu_item_price).round(2) %> </th>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<div class="Total-amount">
    <h2 class="Total-amount-checkout">BILL TOTAL : </h2>
    <h3 class="Total-amount-checkout"> &#36; <%= Order.tot_amount(@order_detail.id) %>
</div>
</div>
